@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: thin; /* Options: auto, thin, or none */
    scrollbar-color: #F8EDEB #f1f1f1; /* Thumb and track color */
}
/* Scrollbar Container */
::-webkit-scrollbar {
    width: 12px; /* Adjust width for vertical scrollbar */
    height: 12px; /* Adjust height for horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #E98585; /* Background color of the track */
    border-radius: 10px; /* Optional: rounded corners */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background: #E98585; /* Color of the scroll thumb */
    border-radius: 10px; /* Optional: rounded corners */
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
    background: #E98585; /* Color of the scroll thumb on hover */
}
.custom-font{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
   
    font-style: normal;
}
  


